@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dailog.centered {
  pointer-events: none;
  min-height: calc(100% - 3.5rem);
}

.modal-dailog.centered .modal-content {
  pointer-events: all;
}

.modal-dialog-scrollable .modal-body {
  height: calc(100vh - 13rem);
  overflow-y: auto;
}
